body {
  font-family: Arial, sans-serif;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #e0dffe;
  max-width: 1000px; 
  margin: 0 auto;    
  border-radius: 8px; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  width: 100%;
}

.navbar-background {
  width: 100%;
  background-color: #e0dffe; 
  padding: 10px 0; 
  border-bottom: 2px solid #183346;
}

.navbar-left a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.navbar-left .dropdown {
  position: relative;
  display: inline-block;
}

.navbar-left .dropbtn {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  color: #333;
}
.navbar-left .dropdown-content {
  display: none;
  position: absolute;
  background-color: #E0DFFE; /* Black background color /
  color: #fff; / White text color /
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.navbar-left .dropdown-content a {
  color: black; / White text color for links /
  padding: 10px 20px;
  text-decoration: none;
  display: block;
}

.navbar-left .dropdown-content a:hover {
  background-color: #E0DFFE; / Darker background on hover */
}

.navbar-left .dropdown:hover .dropdown-content {
  display: block;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right .search-btn {
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  background-color: #e0dffe;
  color: #563b9e;
  cursor: pointer;
}

.navbar-right .search-btn i {
  font-size: 16px;
}

.navbar-right .search-btn:hover {
  background-color: #563b9e;
  color: #ffffff;
}

.navbar-right .login-btn {
  padding: 5px 10px;
  border: none;
  background-color: #6d50bf;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.navbar-right .login-btn:hover {
  background-color: #563b9e;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px; 
  }

  .navbar-left, .navbar-right {
    width: 100%;
    margin: 5px 0;
  }

  .navbar-left a, .navbar-right .search-btn, .navbar-right .login-btn {
    width: 100%;
    margin: 5px 0;
  }
  
}